body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
    .grid-container {
        display: flex;
        grid-template-columns: 1fr;
        grid-template-areas: 'right';
        height: 100vh;
    }

    .right {
        display: flex;
        flex-direction: column;
        grid-area: right;
        background-color: red;
        height: 100%;
    }

    .left {
        display: none!important;
    }

    .grid-item {
        text-align: center;
    }
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'left left left right';
    height: 100vh;
}

.left {
    grid-column: 1/span 3;
    background-color: yellow;
}

.right {
    grid-column: 4;
    background-color: red;
}

.grid-item {
    text-align: center;
}